<div class="card h-100 border-0 shadow-sm bg-white">
  <!-- Imagen -->
  <div class="d-flex justify-content-center align-items-center overflow-hidden" style="height: 150px;">
    <img 
      [src]="product.image"
      [alt]="product.name" 
      class="img-fluid w-100 h-100 object-fit-contain"
    >
  </div>

  <!-- Cuerpo del card -->
  <div class="card-body p-3">
    <h5 
      class="card-title fw-bold text-dark mb-2 text-break"
    >
      {{ product.name }}
    </h5>

    <p class="card-text text-muted mb-2">
      {{ product.description }}
    </p>

    <p class="card-text text-secondary mb-2">
      <strong>Categoría:</strong> {{ product.category }}
    </p>

    <p class="card-text">
      <strong>Estado:</strong>
      <span 
        class="badge" 
        [ngClass]="{'bg-success text-white': product.active, 'bg-danger text-white': !product.active}"
      >
        {{ product.active ? 'Activo' : 'Inactivo' }}
      </span>
    </p>

    <p class="card-text text-dark">
      <strong>Precio:</strong> {{ product.price }}€
    </p>
  </div>

  <div class="card-footer bg-transparent border-0">
    <button class="btn btn-danger w-100 text-white" (click)="onDelete()">Eliminar</button>
  </div>
</div>
