<!-- FormsTemplate  -->

<form
  #filterForm="ngForm"
  (ngSubmit)="applyFilters(filterForm)"
  class="row g-2 align-items-end"
>
  <div class="col-md-3">
    <label for="nombre" class="form-label">Nombre</label>
    <input
      class="form-control bg-light text-dark"
      type="text"
      id="nombre"
      placeholder="Todos"
      name="nombre"
      ngModel
    />
  </div>
  <div class="col-md-3">
    <label for="categoria" class="form-label">Categoría</label>
    <select
      class="form-select bg-light text-dark"
      id="categoria"
      name="categoria"
      ngModel
    >
      <option value="" disabled selected>Todas</option>
      @for(category of categories; track category) {
      <option [value]="category">{{ category }}</option>
      }
    </select>
  </div>
  <div class="col-md-4">
    <label class="form-label">Rango Precio</label>
    <div class="d-flex gap-2">
      <input
        class="form-control bg-light text-dark"
        type="number"
        placeholder="Mín"
        name="precioMin"
        #precioMin="ngModel"
        min="0.01"
        ngModel
        (input)="
          checkPriceRange(
            filterForm.value.precioMin,
            filterForm.value.precioMax
          )
        "
      />
      <input
        class="form-control bg-light text-dark"
        type="number"
        placeholder="Máx"
        name="precioMax"
        #precioMax="ngModel"
        min="0.01"
        ngModel
        (input)="
          checkPriceRange(
            filterForm.value.precioMin,
            filterForm.value.precioMax
          )
        "
      />
    </div>
  </div>
  <div class="col-md-2">
    <label class="form-label">Estado</label>
    <select class="form-select bg-light text-dark" name="activo" ngModel>
      <option value="" disabled>Seleccionar estado</option>
      <option [value]="undefined">Todos</option>
      <option [value]="true">Activo</option>
      <option [value]="false">Inactivo</option>
    </select>
  </div>
  <div class="col-md-12 text-end">
    <button type="submit" class="btn btn-primary">Aplicar Filtros</button>
    <button
      type="button"
      class="btn btn-secondary ms-2"
      (click)="clearFilters(filterForm)"
    >
      Borrar Filtros
    </button>
  </div>
  @if (errorPrecio) {
  <div class="text-danger">
    El precio máximo no puede ser menor que el precio mínimo.
  </div>
  } 
  @if (precioMin.invalid && precioMin.touched || precioMax.invalid && precioMax.touched) {
  <div class="text-danger">Los valores de rango de precio deben ser positivos.</div>
  }
</form>
