<form
  #filterForm="ngForm"
  (ngSubmit)="applyFilters(filterForm)"
  class="row g-3"
>
  <!-- Nombre -->
  <div class="col-md-12">
    <label for="nombre" class="form-label text-left fs-6">Nombre</label>
    <input
      class="form-control bg-light border-0 fs-6"
      type="text"
      id="nombre"
      placeholder="Nombre del producto"
      name="nombre"
      ngModel
    />
  </div>

  <!-- Categoría -->
  <div class="col-md-12">
    <label for="categoria" class="form-label text-left fs-6">Categoría</label>
    <select
      class="form-select bg-light border-0 fs-6"
      id="categoria"
      name="categoria"
      ngModel
    >
      <option value="" disabled selected>Todas</option>
      @for(category of categories; track category) {
        <option [value]="category">{{ category }}</option>
      }
    </select>
  </div>

  <!-- Rango de Precio -->
  <div class="col-md-12">
    <label class="form-label text-left fs-6">Rango Precio</label>
    <div class="d-flex gap-2">
      <input
        class="form-control bg-light border-0 fs-6"
        type="number"
        placeholder="Mín"
        name="precioMin"
        #precioMin="ngModel"
        min="0.01"
        ngModel
        (input)="checkPriceRange(filterForm.value.precioMin, filterForm.value.precioMax)"
      />
      <input
        class="form-control bg-light border-0 fs-6"
        type="number"
        placeholder="Máx"
        name="precioMax"
        #precioMax="ngModel"
        min="0.01"
        ngModel
        (input)="checkPriceRange(filterForm.value.precioMin, filterForm.value.precioMax)"
      />
    </div>
  </div>

  <!-- Estado -->
  <div class="col-md-12">
    <label class="form-label text-left fs-6">Estado</label>
    <select class="form-select bg-light border-0 fs-6" name="activo" ngModel>
      <option value="" disabled>Seleccionar estado</option>
      <option [value]="undefined">Todos</option>
      <option [value]="true">Activo</option>
      <option [value]="false">Inactivo</option>
    </select>
  </div>

  <!-- Botones -->
  <div class="col-md-12 text-start mt-3">
    <button type="submit" class="btn rounded-3 px-4 py-2 text-info fs-6">Aplicar Filtros</button>
    <button
      type="button"
      class="btn ms-2 rounded-3 px-4 py-2 text-info fs-6"
      (click)="clearFilters(filterForm)"
    >
      Borrar Filtros
    </button>
  </div>

  <!-- Mensajes de error -->
  @if (errorPrecio) {
    <div class="text-danger mt-2 fs-6">
      El precio máximo no puede ser menor que el precio mínimo.
    </div>
  }
  @if (precioMin.invalid && precioMin.touched || precioMax.invalid && precioMax.touched) {
    <div class="text-danger mt-2 fs-6">Los valores de rango de precio deben ser positivos.</div>
  }
</form>
