<div class="container">
  <div class="p-3 rounded mb-5 bg-dark text-light">
    <app-product-filter
      [products]="arrProducts"
      (filtersChanged)="applyFilters($event)"
    ></app-product-filter>
  </div>
  <div class="row g-4">
    @for(product of filteredProducts; track product._id) {
    <article class="col-sm-6 col-md-4 col-lg-3">
      <app-product-card
        [product]="product"
        (deleteProduct)="onDeleteProduct(product._id)"
      ></app-product-card>
    </article>
    } @empty {
    <div class="col">
      <div class="alert alert-warning text-center">
        No hay productos para mostrar
      </div>
    </div>
    }
  </div>
</div>