<div class="container mt-5 bg-black mt-1">
  <div class="row justify-content-center">
    <div class="col-md-8 col-lg-6">
      <h2 class="bg-dark text-white text-center py-3 mb-4 fs-4">
        Nuevo producto
      </h2>
      <form
        (ngSubmit)="onSubmit()"
        [formGroup]="addProductForm"
        class="needs-validation"
      >
        <div class="mb-3">
          <label for="name" class="form-label text-light fs-6">Nombre del producto:</label>
          <input
            type="text"
            id="name"
            class="form-control bg-dark text-white border-0 rounded-3 shadow-sm fs-6"
            placeholder="Introduce el nombre"
            name="name"
            formControlName="name"
          />
          @if (checkControl('name', 'required')) {
            <div class="text-danger">El nombre es obligatorio</div>
          }
          @if (checkControl('name', 'minlength')) {
            <div class="text-danger">
              El nombre debe tener al menos 3 caracteres
            </div>
          }
        </div>

        <!-- Descripción del producto -->
        <div class="mb-3">
          <label for="description" class="form-label text-light fs-6">Descripción:</label>
          <textarea
            id="description"
            class="form-control bg-dark text-white border-0 rounded-3 shadow-sm fs-6"
            rows="3"
            placeholder="Introduce la descripción"
            name="description"
            formControlName="description"
          ></textarea>
        </div>

        <!-- Precio del producto -->
        <div class="mb-3">
          <label for="price" class="form-label text-light fs-6">Precio:</label>
          <input
            type="number"
            id="price"
            class="form-control bg-dark text-white border-0 rounded-3 shadow-sm fs-6"
            placeholder="Introduce el precio"
            name="price"
            formControlName="price"
          />

          @if (checkControl('price', 'min')) {
            <div class="text-danger">El precio debe ser mayor que 0</div>
          }
        </div>

        <!-- Categoría del producto -->
        <div class="mb-3">
          <label for="category" class="form-label text-light fs-6">Categoría:</label>
          <select
            id="category"
            class="form-select bg-dark text-white border-0 rounded-3 shadow-sm fs-6"
            formControlName="category"
          >
            <option value="" disabled selected>Seleccionar una categoría</option>
            @for (category of categories; track $index) {
              <option [value]="category">{{ category }}</option>
            }
          </select>
          @if (checkControl('category', 'required')) {
            <div class="text-danger">Categoría obligatoriaa</div>
          }
        </div>

        <div class="mb-3">
          <label for="image" class="form-label text-light fs-6">Imagen (URL):</label>
          <input
            type="text"
            id="image"
            class="form-control bg-dark text-white border-0 rounded-3 shadow-sm fs-6"
            placeholder="Introduce la URL de la imagen"
            name="image"
            formControlName="image"
          />
          @if (checkControl('image', 'required')) {
            <div class="text-danger">Imagen obligatoria</div>
          }

        </div>

        <!-- Estado del producto -->
        <div class="form-check mb-3">
          <input
            type="checkbox"
            id="active"
            class="form-check-input bg-dark text-white"
            name="active"
            formControlName="active"
          />
          @if (checkControl('active', 'required')) {
            <div class="text-danger">El estado es obligatorio</div>
          }
          <label for="active" class="form-check-label text-light fs-6">Activo | Inactivo</label>
        </div>

        <!-- Botones de acción -->
        <div class="d-flex justify-content-between">
          <button
            type="submit"
            class="btn btn-success px-4 py-2 rounded-3 fs-6"
            [disabled]="addProductForm.invalid"
          >
            AÑADIR PRODUCTO
          </button>
          <button
            type="button"
            class="btn btn-danger px-4 py-2 rounded-3 ms-2 fs-6"
            (click)="resetForm()"
          >
            LIMPIAR
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
